// COLORS
$color-pure-white: #ffffff;
$color-depth-white: #eeeeee;
$color-light-white: #cacdce;
$color-lighter-gray: #979797;
$color-light-gray: #32343e;
$color-depth-gray: #262933;
$color-light-black: #83858A;
$color-depth-black: #1E212B;
$color-light-blue: #3a8bbb;
$color-transparent: transparent;


$color-background: #262933;
$color-background-block: #1e212b;
$color-background-modal: #242833;
$color-button: #3a8bbb;
$color-button-hover: #1b5679;

$color-green: #0bac6a;
$color-red: #ed5e57;

$color-input-border: #32343e;
$color-input-placeholder: #666870;

$color-main-font-grey: #cacdce;
$color-font-grey-highlight: #eeeeee;

$color-guidance: #c5cae3;

$color-background-selected: #181b20;
$color-input-title: #83858a;
$color-border-left: #2c2e33;
$color-border-focus: #1f6188;
$color-box-shadow: #181b20;

$color-level-low: #bb4543;
$color-level-cen: #a69351;
$color-level-hig: #358878;

$color-background-title:#95443F;
// FONT
$smaller-font-size: 1.2rem;
$default-font-size: 1.4rem;
$bigger-font-size: 3.6rem;
